@use '../../styles/variables' as *;

.booking-list-container {
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;

    .booking-list-header {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin-bottom: $spacing-lg;

        h2 {
            margin: 0;
            text-align: center;
            color: #333;
        }

        .page-size-selector {
            display: flex;
            align-items: center;
            gap: $spacing-sm;

            select {
                padding: $spacing-sm;
                font-size: 1rem;
                border: 1px solid $border-color;
                border-radius: $spacing-lg;
                transition: all 0.2s;

                &:hover {
                    cursor: pointer;
                    border: 1px solid $primary-hover-color;
                }
            }
        }
    }


    .booking-list-end {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .scroll-top-top-button {
        max-width: fit-content;
        margin: 0 auto;
        padding: 1rem;
        border: none;
        border-radius: $border-radius;
        background-color: $primary-color;
        color: $white-bg;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s;
        margin-top: $spacing-lg;

        &:hover {
            background-color: $primary-hover-color;
            transform: translateY(-2px);
        }
    }
}


@media (max-width: 768px) {
    .booking-list-header {
        flex-direction: column;
        gap: $spacing-lg;
    }
}