@use '../../styles/variables' as variables;

.booking-form-container {
    background-color: variables.$white-bg;
    border-radius: variables.$border-radius;
    margin-bottom: variables.$spacing-lg;
    padding: variables.$spacing-lg;

    h2 {
        margin-top: 0;
        text-align: center;
        color: variables.$dark-text;
    }
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-lg;
}

.form-row {
    display: flex;
    gap: 5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;

    label {
        font-weight: 600;
        color: variables.$medium-text;
        margin-bottom: variables.$spacing-sm;
    }

    input, select {
        padding: variables.$spacing-sm;
        border: 1px solid variables.$border-color;
        border-radius: variables.$border-radius;
        transition: all 0.2s;
    
        &:focus {
            outline: none;
            border-color: variables.$primary-color;
            transform: translateY(-2px);
        }
    }

    .error-text {
        color: variables.$red;
        margin-top: variables.$spacing-sm;
    }
}

.submit-form-button {
    max-width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-radius: variables.$border-radius;
    background-color: variables.$primary-color;
    color: variables.$white-bg;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: variables.$spacing-lg;

    &:hover {
        background-color: variables.$primary-hover-color;
    transform: translateY(-2px);
    }
}